
<html>
  <head>
  <title>h4vebeauty 00</title>
<body>
  <center>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

  <!-- <%= image_tag "main_title.png", style: 'width:12.5vw;'  %> -->

  <div class="row">
    <div class="col-xs-6 col-md-4"></div>
    <div class="col-xs-6 col-md-4">
    <a href = "home/sub_page" >
      <%= image_tag "sub_title.png", style: 'width:11.5vw;' %> </a></div>
    <div class="col-xs-6 col-md-4"></div>
  </div>
  <br>
  <br>
  <br>
  <br>
  </center>
  </body>
    </head>



</html>
