
<html>
  <head>
  <title>h4vebeauty 00</title>
<body>
  <center>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

  <!-- <%= image_tag "main_title.png", style: 'width:12.5vw;'  %> -->

  <a href = "home/sub_page" >
    <%= image_tag "sub_title.png", style: 'width:11.5vw;' %> </a>
  <br>
  <br>
  <br>
  <br>
  </center>
  </body>
    </head>



</html>
