
<html>
  <head>
  <title>h4vebeauty 00</title>
<body>
  <center>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>



  <!-- <%= image_tag "main_title.png", style: 'width:12.5vw;'  %> -->

    <a href = "home/sub_page" >
      <img src="/assets/sub_title.png" width="160px";>
 </a>

  <br>
  <br>
  <br>
  <br>
  </center>
  </body>
    </head>



</html>
