
<html>
  <head>
  <title>h4vebeauty 00</title>
<body>
  <center>
    <br>
    <br>
    <br>
    <br>
        <img src="/assets/sub_title.png" width="160px";>
    <br>
    <br>
    <br>
    <br>
    <br>



    <div class="row">


      <div class="col-md-4">
 <!-- first image_design -->
  <div class="content"> <a href="/home/third_page">
          <div class="content-overlay"></div> <img class="content-image" src="/assets/img_1.jpg">
          <div class="content-details fadeIn-bottom">
              <h3 class="content-title">Contact</h3>
              <p class="content-text"><i class="fa fa-map-marker"></i>2021 PROJECT</p>
          </div>
      </a> </div>

      </div>

      <div class="col-md-4">

<!-- twice image_design -->
<div class="content"> <a href="https://www.youtube.com/channel/UCOzlqQCvMFtoAM47njXohDQ"  target="_blank">
        <div class="content-overlay"></div> <img class="content-image" src="/assets/img_2.jpg">
        <div class="content-details fadeIn-bottom">
            <h3 class="content-title">creation</h3>
            <p class="content-text"><i class="fa fa-map-marker"></i>VIDEO, DESIGN</p>
        </div>
    </a> </div>

  </div>

  <div class="col-md-4">


<!-- twice image_design -->
<div class="content"> <a href="https://www.instagram.com/h4vebeauty"  target="_blank">
            <div class="content-overlay"></div> <img class="content-image" src="/assets/img_3.jpg">
            <div class="content-details fadeIn-bottom">
                <h3 class="content-title">Networking</h3>
                <p class="content-text"><i class="fa fa-map-marker"></i>SOCIAL NETWORKING</p>
            </div>
        </a> </div>

    </div>

  </div>


    <br>
    <br>
  <br>
  <br>
  <br>
  <br>
  </center>
  </body>
    </head>
</html>
