
<html>
  <head>
  <title>h4vebeauty 00</title>
<body>
  <center>
    <br>
    <br>
    <br>
    <br>
    <%= image_tag "sub_title.png", style: 'width:11.5vw;'%> </a>

    <br>
    <br>




    <%= image_tag "img_6.png", style: 'width:20vw;'%>
    <br>
    <br>
  <br>
  <br>
  <br>
  <br>
  </center>
  </body>
    </head>
</html>
