
<html>
  <head>
  <title>h4vebeauty 00</title>
<body>

  <section class="mainContainer">
    <a href = "/sub_page" >
      <img src="/assets/sub_title.png" class="logo">
    </a> <br/>
    <img src="/assets/img_6.png" class="designContent">
  </section>
  </body>
    </head>
</html>
